@model IEnumerable<HygeeaMind.Models.Article>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    // Verificăm dacă utilizatorul curent este admin. Această verificare este asincronă.
    // De aceea, o facem la începutul blocului Razor.
    bool isAdmin = false;
    if (SignInManager.IsSignedIn(User)) // Doar dacă userul este logat
    {
        var currentUser = await UserManager.GetUserAsync(User);
        isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
    }
}

<h1>Index</h1>

<p>
    @if (isAdmin) // Afișează butonul "Create New" doar dacă utilizatorul este admin
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (isAdmin) // Afișează butoanele "Edit" și "Delete" doar dacă utilizatorul este admin
                    {
                        <span> | </span> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span> | </span> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>